:root {
    --primary-color: #0056b3;
    --secondary-color: #ff9800;
    --background-color: #f8f9fa;
    --text-color: #000000;
    --card-background: #ffffff;
    --card-border: #031649;
    --link-color: #007bff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    font-weight: bold;
    color: rgb(247, 214, 0);
    text-shadow: 2px 2px 4px rgba(183, 9, 9, 0.8);
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.card {
    background-color: var(--card-background);
    border: 2px solid var(--card-border);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 10px;
}

.card p {
    color: #555;
    /* Keep this for paragraph text */
}

.card a {
    text-decoration: none;
    color: var(--link-color);
    /* Use link color variable */
}

.card a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
    /* Darker shade for hover */
}

header {
    background-color: #0056b3;
    /* Deep Blue */
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
}

.line {
    height: 3px;
    width: 100%;
    background-color: white;
}

.menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    background-color: #0056b3;
    position: absolute;
    top: 60px;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu.show {
    max-height: 200px;
}

.menu a {
    color: rgb(25, 171, 255);
    padding: 10px 20px;
    background-color: whitesmoke;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: #004494;
    color: white;
}